PORT=3000
NODE_ENV=development

DB_URL=mongodb+srv://talentiq:mxqOne2MF8k4Gb2I@talentiq.1lpvaxb.mongodb.net/interview_db?appName=talentiq

INNGEST_EVENT_KEY=Caxc6wW6ununSd8SB9wvKArucpZKCE8IurZYOnIFzvrScJiLJwc_t8CqgORYIMN1mO3737e27OpkAbh-fkymiQ
INNGEST_SIGNING_KEY=signkey-prod-ee51a19494c92f4d09d2acb7fd6160cb4cf6722c139eb2969e5cc4dc36a78805

STREAM_API_KEY=8v8hcepbhz7e
STREAM_API_SECRET=t3nr2t3eedk4r9xcj9ptxkg3cvyes32zb2tfvzf7s7bwctypnzbkudf7wjmg4ucc

CLERK_PUBLISHABLE_KEY=pk_test_c2V0dGxpbmctY29kLTUuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_yH60iLPsMuwFWZIMsJCQrnBsyBMP8RD45qGAF4mIUT

CLIENT_URL=http://localhost:5173